.Cta__Content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 20px 0;
    gap: 10px;

    h3 {
        font-size: var(--MiniHeadline);
        font-family: var(--headingFont);
        letter-spacing: 1.2;
        color: var(--thirdColor);
    }
    p {
        font-size: var(--ParaLinks);
        font-family: var(--paraFont);

    }

}

@media (max-width : 910px) {
    .Cta__Content {
        width: 80%;
    }
}
@media (max-width : 566px) {
    .Cta__Content {
        text-align: center;
        width: 100%;
        border-radius: 0;
    }
}