.FeatureContainer {
    h3 {
        font-size: var(--MiniHeadline);
        font-family: var(--headingFont);
        padding-bottom: 10px;
    }
    p {
        font-size: var(--ParaLinks);
        font-family: var(--paraFont);
    }
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.FeatureContainer.Active {
    border-left: 2px solid var(--thirdColor);
}