@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


:root {
    --primaryColor : #BF4408 ; 
    --secondaryColor : #FF770A ;
    --thirdColor : #092234;
    --MainHeadline : clamp(2rem, 5vw + 1rem, 3rem);
    --SubHeadline :  clamp(1.5rem, 1.1rem + 1vw, 2rem);
    --MiniHeadline : clamp(1.125rem, 1.05rem + 0.5vw, 1.375rem);
    --ParaLinks : clamp(0.9375rem, 0.9rem + 0.3vw, 1rem);
    --LogoText : clamp(1.5rem, 1.3rem + 1vw, 2rem);
    --MainSubLineHeight : 1.3rem ;
    --MiniLineHeight : 1.4rem ;
    --ParaLinkLineHeight : 1.6rem ;
    --LogoLineHeight : 1.2rem ;
    --headingFont : "Merriweather", serif;
    --paraFont : Verdana, Tahoma, sans-serif;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
ul a {
    font-size: var(--ParaLinks);
    line-height: var(--ParaLinkLineHeight);
    color: #000;
    text-decoration: none;
    transition: border-bottom ease-in .5s , color ease .5s;
}
ul a:hover {
    border-bottom: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}
.navBtn {
    padding: 10px 30px;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color ease-in 0.4s;
    font-size: var(--ParaLinks);
}
.navBtn:hover {
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    color: #fff;
}