

header {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
  
}
.LogoutBtn {
        display: none;

} 


nav {
    display: flex;
    gap: 30px;
}
.Header__nav .Nav__Button {
    display: none;
}
nav h1 {
    font-size: var(--LogoText);
    letter-spacing: 5px;
    font-family: Helvetica;
    font-weight: bold;
    background: linear-gradient(to right, var(--primaryColor) 0%, var(--secondaryColor) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Nav__Button , .Nav__RightSide{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.JoinBtn {
    color: #000;
    background-color: #fff;
}
.hamburger {
    display: none;
}

@media (max-width : 900px) {
    .hamburger {
    display: block;
    z-index: 200;
}
header {
    position: sticky;
    top: 0;
}
    .Nav__RightSide .Nav__Button {
        display: none;
    }
    .Header__nav {
    position: absolute;
    top: 0;   
    right: 0;
    background-color: #fafafbd5;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    display: flex;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 60%;
    height: 100vh;
    backdrop-filter: blur(7px);
    margin-right: -100%;
    transition :  margin-right 0.7s ease;
    }
    .Header__nav .Nav__Button {
    display: flex;
}
    .Header__nav.open {
   
    margin-right: 0;
}
.LogoutBtn {
        display: block;

} 
.SIgnoutBtn {
    display: none;
}
}
@media (max-width : 634px) {
    .Header__nav {
        width: 100%;
    }
}
 