
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.Hero__sectionBtns {
    display: flex;
    gap: 20px;

}
.Hero__Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding: 30px 0;
}
.CarouselContainer {
    display: flex;
    justify-content: center;
    width: 100%;

}
.Carousel__Wrapper {
      max-width: 750px;
    width: 100%;
}
.Hero__Section h2 {
    font-size: var(--SubHeadline);
    letter-spacing: 4px;
    color: var(--thirdColor);
    font-family: var(--headingFont)
}
.Hero__Section p {
    font-size: var(--ParaLinks);
    font-family: var(--paraFont) ; 
}
.Hero__btn {
    background-color: #fff;
    color: #000;
}
.Hero__btn:hover {
    color: #fff;
}